.App {
  /* background-color: whitesmoke; */
  background-color: #f3ece4;
  font-family: 'Roboto';
  padding-top: 6rem;
  min-width: 100vh;
}

body{
  background-color: #f3ece4;
}
.navbar {
  /* background-color: #3d5361 !important; */
  background-color: #d84339 !important;
}
